# ========================================================
# Configurações do MongoDB e Aplicações (Cartola e OpenF1)
# ========================================================

# String de conexão do MongoDB
# Para MongoDB Local:
MONGO_URI=mongodb://localhost:27017

# Para MongoDB Atlas (na nuvem), descomente e substitua com seus dados:
# MONGO_URI=mongodb+srv://<usuario>:<senha>@<cluster>.mongodb.net/?retryWrites=true&w=majority

# Nome do Banco de Dados para o Cartola FC (especificação: cartola_fc_db)
MONGO_DB_NAME=cartola_fc_db

# Nome do Banco de Dados para a OpenF1 (especificação: openf1_data)
MONGO_DB_NAME_F1=openf1_data

# Nível de Log (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO

# Parâmetros de execução da OpenF1 (Demonstração: GP Itália 2023 - Monza)
F1_SESSION_KEY=9159
F1_MEETING_KEY=1219
